.Anatomy_MainDiv {
    height: 80vh;
    flex: 1;
    background: #fff;
    border-radius: 16px;
    padding: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
}

.Anatomy_Status {
    display: flex;
}

.Org_Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Anatomy_Image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.anatomy-indicators {
    margin-top: 20px;
}

.indicator {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}