.Anatomy_MainDiv {
    height: 80vh;
    min-width: 500px;
    flex: 1;
    background: #fff;
    border-radius: 16px;
    padding: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-evenly;
}

.Anatomy_Status {
    display: flex;
}

.Org_Details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Anatomy_Image {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

.anatomy-indicators {
    margin-top: 20px;
}

.indicator {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}



.Body_Parts {
    position: relative;
    display: inline-block;
}

.Anatomy_Image {
    width: 100%;
    height: auto;
    display: block;
}

.label {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 6px;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
}

.label span {
    position: relative;
    padding: 7px;
    width: 100px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
}



.Highlight_Box {
    height: 30px;
    width: 30px;
    background: #000;
    border: 2px dotted cyan;
    background: linear-gradient(to bottom, transparent, skyblue);
}