*{
  padding: 0;
  margin: 0;
}


.App_MainDiv {
  display: flex;
  min-height: 100vh;
  background-color: #f5f7fa;
  /* adjust as per your design */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Main_Content {
  flex: 1;
  display: flex;
  flex-direction: column;
}