#Calendar_MainDiv {
    height: 100%;
    width: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.Calendar_Container {
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background: white;
    color: #333;
}

.Calendar_Title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 14px;
}

.Week_Table {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    margin-bottom: 30px;
    font-weight: 600;
}

.Week_Day.full {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.Day_Label {
    margin-bottom: 8px;
}

.Day_Times {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.Time_Slot {
    color: grey;
    padding: 2px 4px;
    font-size: 12px;
}

.Time_Slot.empty {
    background: none;
    color: #bbb;
}



.Appointments {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.Up_Coming_Title {
    padding-top: 4px;
    margin: 26px 0 24px 0px;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}

.Up_Comings{
    display: flex;
    flex-wrap: wrap;
}

.Upcoming_Day{
    padding: 14px 0 14px 0;
}