.Dashboard_Main_Content {
    display: flex;
    /* padding: 20px; */
    /* background: gray; */
    flex-direction: column;
    gap: 24px;
}

.Dashboard_Component {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}